@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader400.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader600.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Commit Mono';
  src: url('/fonts/CommitMono.woff2') format('woff2');
  font-display: swap;
  font-weight: 450;
}

html {
  @apply antialiased touch-manipulation scroll-smooth text-base;

  &.dark {
    color-scheme: dark;
  }

  &:not(.dark) .astro-code {
    @apply border border-gray-200 rounded-lg;
  }

  &.dark .astro-code {
    @apply border border-gray-800 rounded-lg;
  }

  &.dark .astro-code,
  &.dark .astro-code span {
    --bg-dark: theme(colors.gray.900);
    color: var(--shiki-dark) !important;
    background-color: var(--bg-dark) !important;
  }
}

* {
  @apply outline-gray-300 dark:outline-gray-600
selection:bg-gray-200 selection:text-black
dark:selection:bg-gray-700 dark:selection:text-white;
}

body {
  @apply text-gray-800 dark:text-gray-300 bg-white dark:bg-gray-900 p-4 md:py-8 relative min-h-svh text-sm md:text-base;
}

body,
html {
  overflow-x: hidden;
}
