.hover-before {
  @apply relative before:content-[''] before:absolute before:inset-0 before:-z-10 before:pointer-events-none before:rounded-lg before:transition-colors before:bg-transparent hover:before:bg-gray-100 dark:hover:before:bg-gray-800/60 focus:before:bg-gray-100 dark:focus:before:bg-gray-800/60 selected:before:bg-gray-100 dark:selected:before:bg-gray-800/60;
}

.image-box.image-box {
  @apply inline-block rounded-md;

  &:is(a) {
    @apply p-2 pb-0 -mx-2;
  }
}

.prose {
  @apply max-w-container p-2;

  & > :not(:last-child) {
    @apply mb-6;
  }

  & h1,
  & h2,
  & h3 {
    @apply font-medium mt-6;
  }

  & h1 {
    @apply text-2xl;
  }

  & h2 {
    @apply text-lg;
  }

  & p {
    @apply leading-relaxed;
  }

  & ul {
    @apply list-disc list-outside;
  }

  & ol {
    @apply list-decimal list-outside marker:font-medium;
  }

  & :not(pre) > code {
    @apply p-1 text-xs bg-gray-100 rounded;
  }

  & pre {
    @apply p-4 text-xs md:text-sm;
  }

  & a {
    @apply whitespace-nowrap max-w-container;
  }

  & em {
    @apply font-serif;
  }

  & strong,
  & strong > em {
    @apply font-semibold;
  }

  & hr {
    @apply border-gray-200 dark:border-gray-700 border-b-0 my-10;
  }

  & img {
    @apply mx-auto rounded border-none;
  }

  & figcaption {
    @apply px-6 text-gray-600 dark:text-gray-600 font-serif;
  }

  blockquote {
    @apply font-serif relative bg-gray-100 dark:bg-gray-800 rounded-sm py-4 px-6;

    quotes: '“' '”' '‘' '’';

    &:after,
    &:before {
      @apply text-4xl leading-none text-gray-300 font-black;
      position: absolute;

      :global(.dark) & {
        @apply text-gray-600;
      }
    }

    &:before {
      content: open-quote;
      top: 0;
      left: 0;
      transform: translate(-50%, -0.5rem);
    }

    &:after {
      content: close-quote;
      bottom: 0;
      right: 0;
      transform: translate(50%, calc(50% + 0.25rem));
    }
  }

  table {
    @apply border-collapse table-fixed;

    & thead {
      @apply border-b;
    }

    & th {
      @apply text-left;
    }

    & th,
    & td {
      @apply py-1 px-2 md:px-4;
    }
  }

  .footnotes {
    & .data-footnote-backref {
      /* Without this, footnote back references will be rendered with an emoji. */
      @apply font-serif;
    }

    & h2 {
      @apply mb-2;
    }

    /* & ol > li > p {
      @apply inline;
    } */
  }
}

.md {
  & ul,
  ol {
    @apply pl-8 flex flex-col gap-2;
  }
}
