---
import Base from '@layouts/Base.astro'

const title = '404 • asnine'
---

<Base {title} description='a place for the lost'>
  <section class='flex h-[70vh] flex-col items-center justify-center'>
    <div class='flex items-center gap-4'>
      <span class='text-2xl'>404</span>
      <div class='border-bor h-10 border-l'></div>
      <p>this page could not be found.</p>
    </div>
  </section>
</Base>
