---
import Base from '@layouts/Base.astro'

const title = 'asnine • 404'
---

<Base {title} description='a place for the lost'>
  <div class='h-[100%] flex flex-col items-center justify-center gap-3'>
    <div class='flex items-center gap-4'>
      <span class='font-semibold text-2xl'>404</span>
      <div class='border-l border-l/bor h-10 dark:border-d/bor'></div>
      <p>this page could not be found.</p>
    </div>
  </div>
</Base>
