---
import Base from '@layouts/Base.astro'

const title = '404 • asnine'
---

<Base {title} description='a place for the lost'>
  <div class='h-[70vh] flex flex-col items-center justify-center'>
    <div class='flex items-center gap-4'>
      <span class='text-2xl'>404</span>
      <div class='border-l border-bor h-10'></div>
      <p>this page could not be found.</p>
    </div>
  </div>
</Base>
