---
import Link from '@components/Link.astro'
import NoteList from '@components/NoteList.astro'
import PostList from '@components/PostList.astro'
import ProjectList from '@components/ProjectList.astro'
import Base from '@layouts/Base.astro'

const title = 'asnine • home'
---

<Base {title} description='my personal site and blog'>
  <div class='flex gap-10 mt-10'>
    <div class='flex flex-col gap-4 md:gap-5'>
      <p>
        Hey! I'm <strong>Ashraf</strong>, a full-stack developer based in the
        UK. Currently working at <Link href='https://www.evelyn.com'
          >Evelyn Partners</Link
        >. Continously looking to hone my craft by building out simple,
        functional and elegant applications.
      </p>
      <p>
        My passion ties towards creating services that can bring forward
        transformative changes to society, where the emergence of touch-based
        devices fascinated me as a kid.
      </p>
      <p>
        I love exploring the latest and greatest in the tech sphere, where I
        value high-quality products that are utilitarian in nature, but also
        incorporate a sleek aesthetic.
      </p>
    </div>
  </div>

  <div class='mt-12'></div>
  <small class='text-l/sec dark:text-d/sec'>Projects</small>
  <ProjectList class='mt-2' />

  <div class='mt-12 flex items-center justify-between'>
    <small class='text-l/sec dark:text-d/sec'>Blog</small>
    <Link lg href='/blog'><small class='font-medium'>Archive</small></Link>
  </div>
  <PostList />

  <div class='mt-12 flex items-center justify-between'>
    <small class='text-l/sec dark:text-d/sec'>Notepad</small>
    <Link lg href='/notepad'><small class='font-medium'>Archive</small></Link>
  </div>
  <NoteList class='mt-2' />
</Base>
