---
import Link from '@components/Link.astro'
import NoteList from '@components/NoteList.astro'
import PostList from '@components/PostList.astro'
import ProjectList from '@components/ProjectList.astro'
import Base from '@layouts/Base.astro'

const title = 'home • asnine'
---

<Base {title} description='my personal site and blog'>
  <small class='text-sec'>about</small>
  <p class='mt-3'>
    Driven towards building out simple, functional and elegant applications.
    Currently working at <Link href='https://www.evelyn.com'
      >Evelyn Partners</Link
    >. Love exploring the latest and greatest in the tech sphere, where I value
    high-quality products that are utilitarian in nature, but also incorporate a
    sleek aesthetic.
  </p>

  <div class='mt-8 md:mt-12'>
    <small class='text-sec'>Projects</small>
    <ProjectList class='mt-2' />
  </div>

  <div class='mt-8 flex items-center justify-between md:mt-12'>
    <small class='text-sec'>Blog</small>
    <Link lg href='/blog'><small>Archive</small></Link>
  </div>
  <PostList />

  <div class='mt-8 flex items-center justify-between md:mt-12'>
    <small class='text-sec'>Notepad</small>
    <Link lg href='/notepad'><small>Archive</small></Link>
  </div>
  <NoteList class='mt-3' />
</Base>
