---
import NoteList from '@components/NoteList.astro'
import Base from '@layouts/Base.astro'

const title = 'asnine • notepad'
---

<Base {title} description='a place for quick thoughts and updates'>
  <h1>notepad</h1>
  <NoteList class='mt-8' />
</Base>
