---
import BackLink from '@/components/BackLink.astro'
import NoteList from '@/components/NoteList.astro'
import Base from '@/layouts/Base.astro'

const title = 'asnine • notepad'
---

<Base {title} description='A place for quick thoughts and updates'>
  <main class='py-4 mb-10 prose grow md:py-8'>
    <BackLink href='/' page='home' />

    <h1>notepad</h1>
    <NoteList class='mt-8' />
  </main>
</Base>
