---
import { Icon } from 'astro-icon/components'
import Link from './Link.astro'

const { href, page } = Astro.props
---

<Link
  alternate
  href={href}
  lg
  noUnderline
  class='inline-flex items-center gap-2'
  ><Icon
    name='carbon:arrow-left'
    class='text-gray-600 dark:text-gray-500'
  /><span class='text-gray-600 dark:text-gray-500'>{page}</span></Link
>
