---
import Link from './Link.astro'
---

<footer class='flex min-w-max items-center justify-between'>
  <span class='font-serif'>Re-invent yourself.</span>
  <Link alternate lg noUnderline href='https://www.unrwa.org/'
    >#freepalestine</Link
  >
</footer>
