---
import Link from './Link.astro'
---

<footer class='flex min-w-max items-center justify-between'>
  <span class='font-serif'>Re-invent yourself.</span>
  <Link lg href='https://www.unrwa.org/'>#freepalestine</Link>
</footer>
