---
import Link from './Link.astro'
---

<footer class='flex flex-wrap min-w-max items-center justify-between mt-[5vw]'>
  <span class='font-serif text-lg'>Re-invent yourself.</span>
  <Link alternate lg noUnderline href='https://ceasefiretoday.com/'
    >#freepalestine</Link
  >
</footer>
