---
import Link from './Link.astro'
---

<footer class='mt-5 -mb-2 flex min-w-max items-center justify-between'>
  <h2>Re-invent yourself.</h2>
  <Link lg href='https://www.unrwa.org/'>#freepalestine</Link>
</footer>
