---
import Link from './Link.astro'
import Navigation from './Navigation.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header class='flex items-center justify-between -mt-2'>
  <Link slot='header-content' class='font-semibold' lg noUnderline href='/'
    >asnine
  </Link>
  <div class='flex gap-6 items-center'>
    <Navigation />
    <ThemeToggle />
  </div>
</header>
