---
import { Icon } from 'astro-icon/components'
import Link from './Link.astro'

const pathname = Astro.url.pathname
const paths = pathname
  .split('/')
  .filter(path => path !== '')
  .map(path =>
    path.replace(/-/g, ' ').replace(/\b\w/g, char => char.toLowerCase())
  )
---

<header
  data-header
  class='bg-bg flex flex-wrap items-center justify-between py-3'
>
  {
    pathname === '/' ? (
      <div class='flex items-center gap-1'>
        <p>asnine</p>
        <Icon name='fluent:slash-forward-24-regular' class='text-sec h-6 w-4' />
        <p>full-stack developer</p>
      </div>
    ) : (
      <div class='flex items-center gap-1'>
        <Link nav href='/' noUnderline label={`Go to home page`}>
          asnine
        </Link>
        <Icon name='fluent:slash-forward-24-regular' class='text-sec h-6 w-4' />
        {paths
          .map((path, index) => {
            const href = `/${paths.slice(0, index + 1).join('/')}`
            const isLast = index === paths.length - 1

            return (
              <>
                {isLast ? (
                  <span class='text-sec'>{path}</span>
                ) : (
                  <Link
                    nav
                    href={href}
                    noUnderline
                    label={`Go to ${path} page`}
                  >
                    {path}
                  </Link>
                )}
                {index < paths.length - 2 && (
                  <Icon
                    name='fluent:slash-forward-24-regular'
                    class='text-sec h-6 w-4'
                  />
                )}
              </>
            )
          })
          .slice(0, 1)}
      </div>
    )
  }
</header>
