---
import { getNotes } from '@lib/notes'
import { twMerge } from 'tailwind-merge'
import Image from './Image.astro'
import Link from './Link.astro'

const isHome = Astro.url.pathname === '/'
const notes = await getNotes(isHome)
const dates = Object.keys(notes)

const { class: className, ...props } = Astro.props

export const components = {
  a: Link,
  img: Image,
}
---

<div
  class={twMerge(
    'border-t border-dotted border-l/bor dark:border-d/bor',
    Astro.props.class
  )}
  {...props}
>
  {
    dates.map(d => (
      <div class='flex gap-6 md:gap-8 items-start mt-4 md:mt-6 [&:not(:last-of-type)]:border-b [&:not(:last-of-type)]:border-dotted [&:not(:last-of-type)]:border-l/bor [&:not(:last-of-type)]:dark:border-d/bor'>
        <p class='text-xs text-l/sec dark:text-d/sec'>{d}</p>
        <ul class='mb-4 md:mb-6'>
          {notes[d].map(n =>
            n.render().then(({ Content }) => (
              <li class='list-none [&:not(:last-of-type)]:pb-4 [&:not(:last-of-type)]:md:pb-6 [&:not(:last-of-type)]:mb-4 [&:not(:last-of-type)]:md:mb-6 [&:not(:last-of-type)]:border-b [&:not(:last-of-type)]:border-dotted [&:not(:last-of-type)]:border-l/bor [&:not(:last-of-type)]:dark:border-d/bor md flex flex-col gap-4'>
                <Content components={components} />
              </li>
            ))
          )}
        </ul>
      </div>
    ))
  }
</div>
