---
import Link from './Link.astro'

const { slug, title, desc, date } = Astro.props
---

<Link
  xl
  href={`/blog/${slug}`}
  class='flex flex-row gap-4 justify-between items-center'
  noUnderline
  label={`Open ${title} blog post`}
>
  <span class='text-gray-800 dark:text-gray-300 font-medium'>
    {title}
    <span class='text-gray-600 dark:text-gray-400 font-normal hidden md:flex'>
      {desc}
    </span>
  </span>

  <span class='text-gray-600 dark:text-gray-400'>
    {date.toLocaleDateString('en-GB')}
  </span>
</Link>
