---
import { formatDate } from '@lib/date'
import Link from './Link.astro'

const { slug, title, desc, date } = Astro.props

const isHome = Astro.url.pathname === '/'
---

<Link
  xl
  href={`/blog/${slug}`}
  class='flex flex-row items-center justify-between gap-4 hover:opacity-45 transition-all duration-300'
  noUnderline
  label={`Open ${title} blog post`}
>
  {title}
  <span class='hidden font-normal text-sec sm:flex'>
    {desc}
  </span>

  <time class='text-xs text-sec'>{formatDate(date, isHome)}</time>
</Link>
