---
import Link from './Link.astro'

const { slug, title, desc, date } = Astro.props

const isHome = Astro.url.pathname === '/'
---

<Link
  xl
  href={`/blog/${slug}`}
  class='flex flex-row items-center justify-between gap-4 hover:opacity-45 transition-all duration-300'
  noUnderline
  label={`Open ${title} blog post`}
>
  <span class='font-semibold'
    >{title}
    <span class='hidden font-normal text-l/sec dark:text-d/sec md:flex'>
      {desc}
    </span>
  </span>

  <time class='text-xs text-l/sec dark:text-d/sec'>
    {
      isHome
        ? new Intl.DateTimeFormat('en-GB').format(date)
        : new Intl.DateTimeFormat('en-GB', {
            day: '2-digit',
            month: '2-digit',
          }).format(date)
    }
  </time>
</Link>
