---
import { cn } from '@lib/utils'
import type { MarkdownHeading } from 'astro'
import Link from './Link.astro'

export interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<section
  class='border-l-bor fixed left-[max(0px,calc(50%-43rem/2-20rem-1rem))] hidden max-h-full w-48 border-l px-4 pr-0 xl:block'
>
  <ul class='text-sec flex list-none flex-col text-sm'>
    {
      headings.map(({ text, depth, slug }) => {
        if (depth < 2 || depth > 3) return null
        return (
          <li class={cn(depth === 3 && 'ml-4')}>
            <Link
              href={'#' + slug}
              noUnderline
              alternate
              class='text-left text-xs'
            >
              {text}
            </Link>
          </li>
        )
      })
    }
  </ul>
</section>
