---
import Button from './Button.astro'
const props = Astro.props
---

<Button id='themeToggle'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='2em'
    height='2em'
    viewBox='0 0 32 32'
    {...props}><circle cx='16' cy='16' r='8' fill='currentColor'></circle></svg
  >
</Button>

<style>
  #themeToggle {
    background: none;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    })()

    if (theme === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }

    window.localStorage.setItem('theme', theme)

    const themeToggle = document.getElementById('themeToggle')
    themeToggle?.addEventListener('click', () => {
      const element = document.documentElement
      element.classList.toggle('dark')

      const isDark = element.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
  })
</script>

<script>
  document.addEventListener('astro:after-swap', () => {
    if (localStorage.theme === 'dark')
      document.documentElement.classList.add('dark')
  })
</script>
