---
import Link from './Link.astro'

const { name, date, href } = Astro.props
---

<section class='flex items-center gap-6'>
  <div class='flex flex-col'>
    <Link class='text-lg' href={href}>{name}</Link>
    <small class='text-sec'>{date}</small>
  </div>
  <ul class='list-none border-l border-bor'>
    <slot />
  </ul>
</section>
