---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import { cn } from '@lib/utils'

const { title, description, ...props } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <Head title={title} description={description} />
  <body
    class='antialiased max-w-[46rem] px-4 mx-auto flex flex-col overflow-x-hidden lowercase leading-relaxed min-h-dvh text-sm text-pri bg-bg'
  >
    <Header />

    <main
      class={cn(
        'py-8 md:py-12 prose grow',
        Astro.props.class
      )}
      {...props}
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
