---
const { title, description } = Astro.props

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class='antialiased px-[5vw] pt-[3vw] pb-4 flex justify-center overflow-x-hidden lowercase min-h-dvh text-sm'
  >
    <div class='flex flex-col flex-1 w-full min-w-0 max-w-[44rem]'>
      <Header />

      <slot />

      <Footer />
    </div>
    <style is:global>
      @view-transition {
        navigation: auto;
      }

      @font-face {
        font-family: 'BDOGrotesk';
        src: url('/fonts/BDOGrotesk-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 400 600;
      }

      @font-face {
        font-family: 'Newsreader';
        src: url('/fonts/Newsreader400-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 400;
      }

      @font-face {
        font-family: 'Newsreader';
        src: url('/fonts/Newsreader600-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 600;
      }

      @font-face {
        font-family: 'Iosevka';
        src: url('/fonts/Iosevka500-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 500;
      }

      * {
        @apply outline-gray-300 dark:outline-gray-600 selection:bg-gray-200 selection:text-black dark:selection:bg-gray-700 dark:selection:text-white;
      }

      body {
        @apply text-gray-800 dark:text-gray-300 bg-gray-100 dark:bg-gray-900 relative;
      }

      html {
        @apply scroll-smooth;
      }

      html.dark {
        color-scheme: dark;
      }

      .astro-code {
        @apply border border-gray-200 dark:border-gray-800 rounded-lg;
      }

      :not(.dark) .astro-code,
      :not(.dark) .astro-code span {
        --bg-light: theme(colors.gray.50);
        background-color: var(--bg-light) !important;
      }

      .dark .astro-code,
      .dark .astro-code span {
        --bg-dark: hsl(0 0% 11%);
        color: var(--shiki-dark) !important;
        background-color: var(--bg-dark) !important;
      }

      .image-box.image-box {
        @apply rounded-md;

        &:is(a) {
          @apply p-2 -mx-2;
        }
      }

      .prose :where(h1, h2, h3) {
        @apply font-semibold mt-6;
      }

      .prose :where(h1) {
        @apply text-2xl;
      }

      .prose :where(h2) {
        @apply text-lg;
      }

      .prose :where(p) {
        @apply leading-7;
      }

      .prose :where(ul, ol) {
        @apply leading-6 list-outside marker:text-gray-400 marker:dark:text-gray-500;
      }

      .prose :where(ul) {
        @apply list-disc;
      }

      .prose :where(ol) {
        @apply list-decimal;
      }

      .prose :where(li.task-list-item) {
        @apply list-none flex items-center gap-2;
      }

      .prose :where(:not(pre) > code) {
        @apply p-1 text-xs bg-gray-200 dark:bg-gray-800 rounded normal-case;
      }

      .prose :where(pre) {
        @apply p-4 text-xs sm:text-sm normal-case;
      }

      .prose :where(a) {
        @apply whitespace-nowrap;
      }

      .prose :where(em) {
        @apply font-serif text-base leading-none;
      }

      .prose :where(strong, strong > em) {
        @apply font-semibold;
      }

      .prose :where(hr) {
        @apply border-gray-300 dark:border-gray-700 border-b-0 border-dashed my-6 md:my-10;
      }

      .prose :where(img) {
        @apply mx-auto rounded-md;
      }

      .prose :where(a > p > span > img) {
        @apply my-0;
      }

      .prose :where(figcaption) {
        @apply px-6 text-gray-600 dark:text-gray-400 font-serif;
      }

      .prose :where(blockquote) {
        @apply font-serif italic relative border-l-[0.1785rem] border-gray-300 dark:border-gray-600 py-4 px-4 my-2 text-base;
      }

      .prose :where(table) {
        @apply border-collapse table-fixed;

        :where(thead) {
          @apply border-b dark:border-gray-700;
        }

        :where(th) {
          @apply text-left;
        }

        :where(th, td) {
          @apply py-1 px-2 md:px-4;
        }
      }

      .prose :where(.footnotes > h2) {
        @apply mb-2;
      }

      .md :where(ul:where(:not(.contains-task-list)), ol) {
        @apply pl-7 flex flex-col gap-2;
      }

      .md :where(ul:where(.contains-task-list)) {
        @apply pl-3 flex flex-col gap-1;
      }

      .md :where(ul:where(:not(.contains-task-list)) > li, ol > li) {
        @apply pl-1;
      }

      .md :where(.data-footnote-backref) {
        @apply font-serif;
      }
    </style>
  </body>
</html>
