---
const { title, description } = Astro.props

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'

import '@/styles/base.css'
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class='antialiased px-[5vw] pt-[5vw] pb-4 flex justify-center overflow-x-hidden lowercase min-h-svh text-sm md:text-base'
  >
    <div class='flex flex-col flex-1 min-w-0 max-w-prose'>
      <div class='blur-top'></div>
      <Header />

      <slot />

      <Footer />
    </div>
  </body>
</html>
