---
const { title, description, image } = Astro.props

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'

import '@/styles/base.css'
import '@/styles/elems.css'
---

<html lang='en'>
  <head>
    <Head title={title} description={description} image={image} />
  </head>
  <body class='mx-auto max-w-container flex flex-col px-6 lowercase'>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
