---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import { cn } from '@lib/utils'

const { title, description, post, ...props } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <Head title={title} description={description} />
  <body
    class='bg-bg text-pri mx-auto flex min-h-dvh max-w-[46rem] flex-col px-4 text-sm leading-relaxed lowercase antialiased'
  >
    <Header post={post} />

    <main class={cn('py-6 md:py-8 grow', Astro.props.class)} {...props}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
