---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import { cn } from '@lib/utils'

const { title, description, ...props } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <Head title={title} description={description} />
  <body
    class='mx-auto flex min-h-dvh max-w-[46rem] flex-col bg-bg px-4 text-sm lowercase leading-relaxed text-pri antialiased'
  >
    <Header />

    <main class={cn('py-8 md:py-12 prose grow', Astro.props.class)} {...props}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
