---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import { twMerge } from 'tailwind-merge'

const { title, description, ...props } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <Head title={title} description={description} />
  <body
    class='antialiased px-[5vw] pt-[3vw] pb-4 flex justify-center overflow-x-hidden lowercase min-h-dvh text-sm text-l/pri dark:text-d/pri bg-l/bg dark:bg-d/bg'
  >
    <div class='flex flex-col flex-1 w-full min-w-0 max-w-[44rem]'>
      <Header />

      <main
        class={twMerge(
          'py-4 mt-4 mb-4 prose md:mt-0 grow md:py-8',
          Astro.props.class
        )}
        {...props}
      >
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
